[Desktop Entry]
Type=Application
Version=1.0
Name=Processing
Comment=Processing Development Environment (PDE)
Exec=/opt/processing/processing
Icon=processing
Terminal=false
Categories=Development;IDE;

