[Desktop Entry]
Name=NodeBox
Exec=nodebox %f
Icon=nodebox
GenericName=Generative Design Tool
Comment=Node-based GUI for data visualizations and generative design
MimeType=application/x-nodebox;
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
StartupNotify=true
